.dictionary {
  display: flex;
  flex-wrap: wrap;

  &__list {
    flex-basis: 200px;

    a.active {
      background-color: #1e88e5;
      color: white;
    }
  }

  &__item {
    padding: 15px;
    flex-grow: 1;
  }
}
