.pet-photo {
  width: 230px;
  height: 230px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #C7C7C7;
  border-radius: 4px;
  img {
    max-width: 100%;
  }
  margin-bottom: 21.5px;
  overflow: hidden;
}

.pet-form {
  display: block;
  width: 500px;
  mat-form-field, mat-checkbox {
    min-width: 150px;
    max-width: 500px;
    display: block;
  }
  mat-checkbox {
    margin-bottom: 21.5px;
  }
  .buttons-row {
    .fields-toggle {
      color: #616161;
      width: 184px;
      text-decoration: none;
      border-bottom: 1px dotted #616161;
      margin-bottom: 10px;
      &:hover {
        color: darken(#616161, 10%);
        border-bottom: 1px dotted darken(#616161, 10%);
      }
    }
    > * {
      display: block;
    }
  }
  .mat-form-field-group {
    max-width: 500px;
    display: flex;
    justify-content: stretch;
    mat-form-field {
      flex-grow: 1;
      &:last-of-type {
        margin-left: 10px;
      }
    }
  }
}
