.pet-photo {
  width: 230px;
  height: 230px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #C7C7C7;
  border-radius: 4px;
  img {
    max-width: 100%;
  }
  margin-bottom: 21.5px;
  overflow: hidden;
}

.pet-form {
  display: block;
  mat-form-field, mat-checkbox {
    min-width: 150px;
    max-width: 500px;
    display: block;
  }
  mat-checkbox {
    margin-bottom: 21.5px;
  }
}
