.sidenav-container {
  height: calc(100% - 30px);
  width: 1200px;
  margin: 0 auto;
  background-color: transparent;
  &.mat-drawer-container {
    overflow: inherit;
  }
  .mat-drawer-content {
    overflow: inherit;
  }
}

.sidenav {
  width: 268px;
  background-color: transparent;
}

.sidebar {
  top: 30px;
  background-color: white;
  &__menu {
    background-color: white;
  }
  &__title {
    padding-left: 5px;
    font-size: 20px;
  }
  mat-toolbar {
    border-bottom: 1px solid #c7c7c7;
  }
}
.sidenav .mat-toolbar {
  background: inherit;
}

.mat-toolbar.mat-primary {
  position: sticky;
  top: 0;
  z-index: 1;
}

.mat-sidenav-content {
  padding: 15px;
}

.header {
  margin-top: -15px;
  margin-left: -15px;
  width: calc(100% + 15px);
  display: flex;
  justify-content: flex-end;
  background-color: white;
  border-bottom: 1px solid #c7c7c7;
}
ul.navigation-items {
  list-style: none;
  display: flex;
  li a {
    display: flex;
    align-items: center;
    cursor: pointer;
    .label {
      padding-left: 5px;
    }
  }
}

.toolbar {
  &__container {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: space-between;
    width: 100%;
  }

  &__exit-button {
    display: flex;
    align-items: center;
  }
}
