/* You can add global styles to this file, and also import other style files */

/* Importing Bootstrap SCSS file. */
@import '~bootstrap/scss/bootstrap';

a {
  color: #2a9dff;
  text-decoration: none;
  background-color: rgba(0,0,0,0);
  -webkit-text-decoration-skip: objects;
  font-family: Lato,Arial,sans-serif;
}

